<div class="grid">
  <div class="col-12">
    <div class="text-center p-3 border-round-sm bg-white font-bold">
      <h2>ADMIN DASHBOARD</h2>
    </div>
  </div>
</div>

<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <h3>Tous les comptes</h3>
      </p-tab>
      <p-tab value="1">
        <h3>Toutes les transactions</h3>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-accounts-tab />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-transactions-tab />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
